<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The toilet Game</title>
  <link rel="stylesheet" type="text/css" href="../min/min.css">
</head>
<body>




<div class="bloc" id="step0">
    <h3 class="title">The toilet game</h3>
    <p>Vous jouez au dernier MMO du moment.
    <p>
      <button id="play">Suivant</button>
    </p>
</div>

<div class="bloc" id="step1">
    <h3 class="ui-widget-header ui-corner-all title">Aller au toilette ?</h3>
    <p>Avez vous besoin de faire une pause pour aller faire vos besoins ?
    <p>
      <button id="step22" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step21" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step3">
    <h3 class="ui-widget-header ui-corner-all title">Toilettes libre ?</h3>
    <p>Les toilettes sont elles occupées ?
    <p>
      <button id="step41" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step42" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step5">
    <h3 class="ui-widget-header ui-corner-all title">Toilettes occupés</h3>
    <p>Les toilettes sont occupés voulez vous attendre ?
    <p>
      <button id="step61" class="ui-state-default ui-corner-all">Non</button>
      <button id="step62" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step90">
    <h3 class="ui-widget-header ui-corner-all title">Lumière allumées</h3>
    <p>la lumière est elle allumée ?
    <p>
      <button id="step911" class="ui-state-default ui-corner-all">Non</button>
      <button id="step912" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step92">
    <h3 class="ui-widget-header ui-corner-all title">Allumer lumière ?</h3>
    <p>la lumière est éteinte voulez vous l'allumer ?
    <p>
      <button id="step931" class="ui-state-default ui-corner-all">Non</button>
      <button id="step932" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step94">
    <h3 class="ui-widget-header ui-corner-all title">Entrer aux toilettes</h3>
    <p>voulez vous entrer dans les toilettes ?
    <p>
      <button id="step951" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step952" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step7">
    <h3 class="ui-widget-header ui-corner-all title">Cuvette levée ?</h3>
    <p>la cuvette est t'elle déjà levée ?
    <p>
      <button id="step81" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step82" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step9">
    <h3 class="ui-widget-header ui-corner-all title">Lever cuvette ?</h3>
    <p>voulez vous lever la cuvette ?</p>
    <p>
      <button id="step91" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step920" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step10">
    <h3 class="ui-widget-header ui-corner-all title">Faire besoin ?</h3>
    <p>voulez vous faire vos besoins ?
    <p>
      <button id="step111" class="ui-state-default ui-corner-all">Oui</button>
      <button id="step112" class="ui-state-default ui-corner-all">Non</button>
    </p>
</div>

<div class="bloc" id="step12">
    <h3 class="ui-widget-header ui-corner-all title">Tirer la chasse ?</h3>
    <p>voulez vous tirer la chasse ?
    <p>
      <button id="step131" class="ui-state-default ui-corner-all">Non</button>
      <button id="step132" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step14">
    <h3 class="ui-widget-header ui-corner-all title">Eteindre lumière ?</h3>
    <p>voulez vous éteindre la lumière ?
    <p>
      <button id="step151" class="ui-state-default ui-corner-all">Non</button>
      <button id="step152" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step16">
    <h3 class="ui-widget-header ui-corner-all title">Sortir toilette ?</h3>
    <p>voulez vous sortir des toilettes ? ?
    <p>
      <button id="step171" class="ui-state-default ui-corner-all">Non</button>
      <button id="step172" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step18">
    <h3 class="ui-widget-header ui-corner-all title">Retourner jouer ?</h3>
    <p>voulez vous retourner jouer à ce merveilleux mmo ?
    <p>
      <button id="step191" class="ui-state-default ui-corner-all">Non</button>
      <button id="step192" class="ui-state-default ui-corner-all">Oui</button>
    </p>
</div>

<div class="bloc" id="step20">
    <h3 class="ui-widget-header ui-corner-all title">Fin du jeu</h3>
    <p>Merci d'avoir jouer à ce jeu, le code source du jeu est disponible sur github
      <a href="https://github.com/Shinanubis/gameWC">https://github.com/Shinanubis/gameWC</a>
    </p>
</div>


<div class="bloc" id="easterEgg">
    <h3 class="ui-widget-header ui-corner-all title">L'arroseur arrosé</h3>
    <p>on vous avez dit d'allumer la lumière, allez vous changer.
</div>




</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../min/min.js" type="text/javascript"></script>
</html>
